{% extends 'base.html.twig' %}

{% block title %}Hello Contact!{% endblock %}

{% block body %}
<h1 id="titre" >Formulaire de Contact</h1>
{# Afficher les messages de succès #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{# Afficher les messages d'avertissement #}
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
{% endfor %}


{{ form_start(contactForm) }}
    {{ form_row(contactForm.firstname) }}
    {{ form_row(contactForm.lastname) }}
    {{ form_row(contactForm.email) }}
    {{ form_row(contactForm.comment) }}
<div class="d-flex justify-content-center">
    {{ form_row(contactForm.envoyer) }}
</div>
{{ form_end(contactForm) }}
{% endblock %}
